$avgSize4all: 10em;

.stopwatch{
  text-align: -webkit-center;
}
.stopwatch h1{
  color: black;
  font-size: $avgSize4all;
  margin-bottom: 0;
  cursor: default;
  user-select: none;
  text-shadow: 10px 5px 20px #000000;
}
.controls{
  width: 60%;
  display: inline-flex;
  justify-content: space-evenly;
}
.Control {
  border-radius: $avgSize4all * 0.1;
  background-color: transparent !important;
  width: $avgSize4all * 0.7;
  height: $avgSize4all * 0.7;
  background-position: center !important;
  background-size: 90% 90% !important;
  background-repeat: no-repeat !important;
}
.Control:hover{
  box-shadow: 0.1em 0.1em 10px 5px #000000 !important;
}
.PlayButton {
  background: url('https://img.icons8.com/ios-glyphs/90/000000/play.png');
}
.StopButton {
  background: url("https://img.icons8.com/ios-filled/100/000000/stop-squared.png");
}
.PauseButton {
  background: url("https://img.icons8.com/ios-filled/100/000000/circled-pause.png");
}
.ResetButton {
  background: url("https://img.icons8.com/material-rounded/50/000000/recurring-appointment.png");
}


